<div class="pb-5 custom-table">
  <ng-template #tooltipInfo>
      <p class="mb-0">* Click on a transaction to update it</p>
  </ng-template>
  <i class="fas fa-info-circle mr-5 mb-2 info-icon" [ngbTooltip]="tooltipInfo" container="body" placement="right" tooltipClass="custom-tooltip"></i>
  <div class="row header">
    <div class="col-3 header-item">
      <p>Category</p>
    </div>
    <div class="col-2 header-item">
      <p>Amount</p>
    </div>
    <div class="col-2 header-item">
      <p>Date</p>
    </div>
    <div class="col-2 header-item">
      <p>Type</p>
    </div>
    <div class="col-3 text-center h-100 pt-2">
      <p>Comment</p>
    </div>
  </div>
  <ng-container *ngFor="let transaction of (transactions | slice: (currentPage-1) * pageSize : (currentPage-1) * pageSize + pageSize); first as isFirst; last as isLast; let i = index; odd as odd">
    <div class="row line" (click)="onClickEdit(transaction)">
      <div class="col-3 line-item">
        <p>{{ transaction.category }}</p>
      </div>
      <div class="col-2 line-item">
        <p>{{ transaction.amount }}</p>
      </div>
      <div class="col-2 line-item">
        <p>{{ transaction.date | date:'dd-MM-YY' }}</p>
      </div>
      <div class="col-2 line-item type-container">
        <p [class]="getTypeColorClass(transaction.type)">{{ transaction.type | transactionTypeEnumToText }}</p>
      </div>
      <div class="col-3 h-100">
        <p>{{ transaction.comment }}</p>
      </div>
    </div>
    <ng-template #content>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete transaction</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this transaction?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteTransactionConfirmed(transaction.id)">Delete</button>
      </div>
    </ng-template>
  </ng-container>
  <app-pagination [(ngModel)]="currentPage" [size]="transactions.length" [pageSize]="pageSize"></app-pagination>
</div>

