<div class="pb-5 custom-table">
  <ng-template #tooltipInfo>
      <p class="mb-0">* Click on a transaction to update it</p>
  </ng-template>
  <i class="fas fa-info-circle mr-5 mb-2 info-icon" [ngbTooltip]="tooltipInfo" container="body" placement="right" tooltipClass="custom-tooltip"></i>
  <div class="row header">
    <div class="col-4 header-item">
      <p>Category</p>
    </div>
    <div class="col-4 header-item">
      <p>Amount</p>
    </div>
    <div class="col-4 text-center h-100 pt-2">
      <p>Type</p>
    </div>
  </div>
  <ng-container *ngFor="let category of (categories | slice: (currentPage-1) * pageSize : (currentPage-1) * pageSize + pageSize); first as isFirst; last as isLast; let i = index; odd as odd">
    <div class="row line" (click)="onClickEdit(category)">
      <div class="col-4 line-item">
        <p>{{ category.name }}</p>
      </div>
      <div class="col-4 line-item">
        <p>{{ category.total }}</p>
      </div>
      <div class="col-4 line-item type-container">
        <p [class]="getTypeColorClass(category.type)">{{ category.type | transactionTypeEnumToText }}</p>
      </div>
    </div>
  </ng-container>
  <app-pagination [(ngModel)]="currentPage" [size]="categories.length" [pageSize]="pageSize"></app-pagination>
</div>

