.custom-table {
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.header-item {
  border-right: 1px solid var(--primary-color);
  text-align: center;
  height: 100%;
  padding-top: 10px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 1px solid var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.line-item {
  border-right: 2px solid var(--secondary-color);
  text-align: center;
  height: 100%;
}

.type-savings,
.type-income,
.type-expense {
  color: var(--text-color);
  border-radius: 5px;
  font-weight: bold;
  width: 100px;
  height: 25px;
}

.type-expense {
  background: lightcoral;
}

.type-savings {
  background: rgb(23, 135, 104, 0.5);
}

.type-income {
  background: var(--primary-color);
}

.type-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

.custom-input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  text-align: center;
}

.info-icon {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 768px) {
  .header {
    font-size: 12px;
  }

  .line {
    font-size: 12px;
    height: 40px;
  }
  .line-item {
    font-size: 12px;
  }

  .custom-table {
    padding-left: 20px;
    padding-right: 20px;
  }

  .type-container {
    font-size: 10px;
    padding: 5px;
  }

  .type-savings,
  .type-income,
  .type-expense {
    height: 18px;
    margin-top: 5px;
  }
}
