<div class="navbar-container">
  <span>
    <img [src]="imageUrl" style="width: 30px">

  </span>
  <div class="user-container">
    <span class="user-name" *ngIf="!!userName">Welcome, {{ userName }}</span>
    <app-mode-toggle class="toggle"></app-mode-toggle>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" ngbDropdown>
        <span ngbDropdownToggle class="d-flex justify-content-center align-items-center" style="color: white">
        <i tabindex="0" class="nav-link fas fa-user-circle user-icon"></i>
        </span>
        <div ngbDropdownMenu class="dropdown-menu">
          <a ngbDropdownItem (click)="onUpdateProfile()">Update Profile</a>
          <a ngbDropdownItem (click)="onLogout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</div>
