.title {
  font-size: 1.5em;
  //font-weight: bold;
  //color: var(--white);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--third-color);
  align-items: center;
  padding: 5px 10px;
}

.toggle {
  display: flex;
  align-items: center;

}
.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.user-name {
  display: flex;
  align-items: center;
  color: var(--white);
  width: 200px;
}

.user-icon {
  color: var(--white);
  font-size: 26px;
}

@media (max-width: 768px) {
  .title {
    font-size: 0.8rem;
  }

  .user-container {
    width: 300px;
  }

  .user-name {
    font-size: 0.8rem;
    width: 170px;
  }

  .user-icon {
    font-size: 1rem;
    margin-left: 10px;
  }
}
