<div class="container-auth">
  <app-mode-toggle class="toggle-auth"></app-mode-toggle>
  <div class="left"><img [src]="imageUrl" alt="Description of Image" class="image"></div>
  <div class="right">
    <div>
      <img [src]="imageMobileUrl" alt="Logo" class="auth-img">
      <h2>Login to</h2>
      <h1>Money Tracker</h1>
      <div class="mt-4">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               name="email"
               class="form-control mt-1"
               #emailInput="ngModel"
               email
               required
               [(ngModel)]="authPostDto.email">
        <app-control-error [reference]="emailInput"></app-control-error>

      </div>
      <div class="mt-2">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control mt-1"
               #passwordInput="ngModel"
               required
               [(ngModel)]="authPostDto.password">
        <app-control-error [reference]="passwordInput"></app-control-error>
      </div>
      <div class="mt-4 mb-2">
        <button class="btn button" [class.disabled]="disabled" (click)="login()">Login</button>
      </div>
      <a class="link" (click)="onGoToRegister()">Register?</a>
    </div>
  </div>
</div>
<app-loading [isLoading]="isLoading"></app-loading>
