<app-custom-modal title="Update transaction">
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text"
           class="form-control customInput"
           id="category"
           name="category"
           #categoryInput="ngModel"
           required
           [(ngModel)]="category.name">
    <app-control-error [reference]="categoryInput"></app-control-error>
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number"
           class="form-control customInput"
           id="amount"
           name="amount"
           #amountInput="ngModel"
           required
           [(ngModel)]="category.total">
    <app-control-error [reference]="amountInput"></app-control-error>
  </div>
  <div class="form-group">
    <app-select-category-type [(ngModel)]="category.type"></app-select-category-type>
  </div>
  <ng-template #customButtons>
    <button type="button" class="btn btn-danger custom-delete-button" (click)="onDelete()"><i class="fa fa-trash"></i> </button>
    <button type="button" class="custom-submit-button" (click)="onSubmit()">Update</button>
  </ng-template>
</app-custom-modal>
