<div class="container-auth">
  <div class="left"><img [src]="imageUrl" alt="Description of Image" class="image"></div>
  <div class="right">
    <app-mode-toggle class="toggle-auth"></app-mode-toggle>
    <div>
      <img [src]="imageMobileUrl" alt="Logo" class="auth-img">
      <h2>Register to</h2>
      <h1>Money Tracker</h1>
      <div class="mt-4">
        <label for="firstName">First Name</label>
        <input type="text"
               id="firstName"
                name="first Name"
                #firstNameInput="ngModel"
               required
               class="form-control mt-1 customInput" [(ngModel)]="authPostDto.firstname">
        <app-control-error [reference]="firstNameInput"></app-control-error>
      </div>
      <div class="mt-2">
        <label for="lastName">Last Name</label>
        <input type="text"
               id="lastName"
               name="last Name"
                #lastNameInput="ngModel"
               class="form-control mt-1 customInput"
                required
               [(ngModel)]="authPostDto.lastname">
        <app-control-error [reference]="lastNameInput"></app-control-error>
      </div>
      <div class="mt-2">
        <label for="email">Email</label>
        <input type="email"
               id="email"
                name="email"
                #emailInput="ngModel"
               required
               class="form-control mt-1 customInput"
               [(ngModel)]="authPostDto.email" >
        <app-control-error [reference]="emailInput"></app-control-error>
      </div>
      <div class="mt-2">
        <label for="password">Password</label>
        <input type="password"
               id="password"
                name="password"
                #passwordInput="ngModel"
               required
               minlength="6"
               class="form-control mt-1 customInput"
               [(ngModel)]="authPostDto.password">
        <app-control-error [reference]="passwordInput"></app-control-error>
      </div>
      <div class="mt-2">
        <label for="passwordConfirmation">Password</label>
        <input type="password"
               id="passwordConfirmation"
                name="password Confirmation"
                #passwordConfirmationInput="ngModel"
               class="form-control mt-1 customInput"
               required
               [(ngModel)]="passwordConfirmation">
        <app-control-error [reference]="passwordConfirmationInput"></app-control-error>
      </div>
      <div class="mt-4 mb-2">
        <button class="btn button" [class.disabled]="disabled" (click)="register()">Register</button>
      </div>
      <a class="link" (click)="onGoToLogin()">Login?</a>
    </div>
  </div>
</div>
<app-loading [isLoading]="isLoading"></app-loading>
