<app-custom-modal title="Update transaction">
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text"
           class="form-control customInput"
           id="category"
           name="category"
           #categoryInput="ngModel"
           required
           [(ngModel)]="transaction.category">
    <app-control-error [reference]="categoryInput"></app-control-error>
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number"
           class="form-control customInput"
           id="amount"
           name="amount"
           #amountInput="ngModel"
           required
           [(ngModel)]="transaction.amount">
    <app-control-error [reference]="amountInput"></app-control-error>
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <input type="date"
           class="form-control customInput"
           id="date"
           name="date"
           #dateInput="ngModel"
           required
           [(ngModel)]="transaction.date">
    <app-control-error [reference]="dateInput"></app-control-error>
  </div>
  <div class="form-group">
    <app-select-transaction-type [(ngModel)]="transaction.type"></app-select-transaction-type>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control customInput" id="comment" name="comment" [(ngModel)]="transaction.comment"></textarea>
  </div>
  <ng-template #customButtons>
    <button type="button" class="btn btn-danger custom-delete-button" (click)="onDelete()"><i class="fa fa-trash"></i> </button>
    <button type="button" class="custom-submit-button" (click)="onSubmit()">Update</button>
  </ng-template>
</app-custom-modal>
