.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-left: 15px;
  width: 100%;
}

.balance-card {
  cursor: pointer;
}

@media (max-width: 768px) {
  .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-left: 0;
    width: 100%;
  }
}
