<div class="float-buttons">
  <div class="menu-container" *ngIf="showMenu">
    <i class="fas fa-add menu-button add-button"
       ngbTooltip="Add transaction"
       container="body"
       placement="left"
       tooltipClass="custom-tooltip"
       (click)="onOpenAddTransaction()"></i>
    <i class="fas fa-filter menu-button filter-button"
       ngbTooltip="Filter transactions"
       container="body"
       placement="left"
       tooltipClass="custom-tooltip"
       (click)="onFilterTransactions()"></i>
  </div>

  <i class="fa-solid fa-pen pen-button fa-2x"
     ngbTooltip="Open menu"
     container="body"
     placement="left"
     tooltipClass="custom-tooltip"
     *ngIf="!showMenu"
     (click)="onToggleMenu()"></i>
  <i class="fas fa-close close-button fa-2x"
     ngbTooltip="Close menu"
     container="body"
     placement="left"
     tooltipClass="custom-tooltip"
     *ngIf="showMenu"
     (click)="onToggleMenu()"></i>
</div>
